body {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  font-family: "Roboto", sans-serif;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clock {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid black;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  position: relative;
}

.clock::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  background-color: black;
  z-index: 11;
  height: 25px;
  width: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock .number {
  --rotation: 0;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
}

.clock .number1 {
  --rotation: 30deg;
}

.clock .number2 {
  --rotation: 60deg;
}

.clock .number3 {
  --rotation: 90deg;
}

.clock .number4 {
  --rotation: 120deg;
}

.clock .number5 {
  --rotation: 150deg;
}

.clock .number6 {
  --rotation: 180deg;
}

.clock .number7 {
  --rotation: 210deg;
}

.clock .number8 {
  --rotation: 240deg;
}

.clock .number9 {
  --rotation: 270deg;
}

.clock .number10 {
  --rotation: 300deg;
}

.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  z-index: 10;
}

.clock .hand.hour {
  width: 10px;
  height: 35%;
  background-color: black;
}

.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: black;
}

.clock .hand.second {
  width: 5px;
  height: 45%;
  background-color: red;
}
